@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "GT Eesti Pro Display";
  font-weight: 300;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
  /* Сам прибавляет padding */
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ------------- Шрифты ---------------------- */
@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../fonts/gteestiprodisplay_regular.eot");
  src: local("☺"), url("../fonts/gteestiprodisplay_regular.woff") format("woff"), url("../fonts/gteestiprodisplay_regular.ttf") format("truetype"), url("../fonts/gteestiprodisplay_regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../fonts/gteestiprodisplay_light.eot");
  src: local("☺"), url("../fonts/gteestiprodisplay_light.woff") format("woff"), url("../fonts/gteestiprodisplay_light.ttf") format("truetype"), url("../fonts/gteestiprodisplay_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* ----------------------------------- */
.header {
  margin-top: 25px;
}
.header__burger {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-basis: 540px;
}
.header-menu__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  list-style: none;
}
.header-menu__item {
  padding: 0 10px;
}
.header-menu__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #72727E;
  transition: 0.3s;
}
.header-menu__link:hover {
  color: #446DF6;
}

.header__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #446DF6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  border: 1px solid #E9ECF5;
  border-radius: 6px;
  box-sizing: border-box;
  transition: font-size 0.5s, border 0.5s;
}
.header__button:hover {
  border: 1px solid #446DF6;
  font-size: 17px;
}

.header__button2 {
  display: none;
  font-size: 16px;
  line-height: 140%;
  color: #446DF6;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  border: 1px solid #E9ECF5;
  border-radius: 6px;
}

/* Adaptive */
@media (max-width: 992px) {
  .header__burger {
    display: block;
    z-index: 15;
    position: absolute;
    top: 0;
    right: 0px;
    height: 47px;
    width: 55px;
    padding-left: 30px;
    padding-top: 35px;
    border-left: 1px solid #E9ECF5;
  }
  .header__burger span, .header__burger:after, .header__burger:before {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #72727E;
    transition: 0.5s;
  }
  .header__burger:before {
    top: 35px;
  }
  .header__burger span {
    top: 42px;
  }
  .header__burger:after {
    top: 49px;
  }
  .header__burger_close:before {
    transform: rotate(-45deg);
    top: 42px;
  }
  .header__burger_close span {
    transform: rotate(45deg);
  }
  .header__burger_close:after {
    transform: rotate(45deg);
    top: 42px;
  }

  .header {
    margin-top: 0;
  }

  .header__container {
    flex-direction: column;
    padding: 0;
  }

  .header__logo {
    border-bottom: 1px solid #E9ECF5;
    width: 100%;
    padding: 30px;
    padding-left: 90px;
  }

  .header-menu__list {
    flex-direction: column;
  }

  .header-menu {
    position: absolute;
    top: -400px;
    flex-basis: auto;
    width: 100%;
    transition: 0.5s;
  }
  .header-menu__item {
    height: 90px;
    border-bottom: 1px solid #E9ECF5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__menu_phone {
    top: 90px;
  }

  .header__button {
    position: absolute;
    top: -200px;
    transition: 0.5s;
    background: #446DF6;
    color: #FFFFFF;
  }
  .header__button_phone {
    top: 490px;
  }

  .header__button2 {
    display: flex;
    position: absolute;
    top: -200px;
    transition: 0.5s;
  }
  .header__button2_phone {
    top: 560px;
  }
}

/*# sourceMappingURL=style.css.map */
