* {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

b {
    font-size: inherit;
}

a {
    text-decoration: none;
}

body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: "GT Eesti Pro Display";
    font-weight: 300;

    &.lock {
        overflow: hidden;
    }
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box; /* Сам прибавляет padding */
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    object-fit: cover;
}

/* ------------- Шрифты ---------------------- */

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../fonts/gteestiprodisplay_regular.eot');
    src: local('☺'), url('../fonts/gteestiprodisplay_regular.woff') format('woff'), url('../fonts/gteestiprodisplay_regular.ttf') format('truetype'), url('../fonts/gteestiprodisplay_regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: url('../fonts/gteestiprodisplay_light.eot');
    src: local('☺'), url('../fonts/gteestiprodisplay_light.woff') format('woff'), url('../fonts/gteestiprodisplay_light.ttf') format('truetype'), url('../fonts/gteestiprodisplay_light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

/* ----------------------------------- */

/* --------- My Styles ------------ */
.button {
    display: block;
    width: 240px;
    height: 60px;
    background: #446DF6;
    border-radius: 6px;

    // font-weight: 500;
    // font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #EEEEEE;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------- My Styles ------------ */


@import "mainPage/header";
@import "mainPage/main";
@import "mainPage/start";