@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

b {
  font-size: inherit;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  font-family: "GT Eesti Pro Display";
  font-weight: 300;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
  box-sizing: content-box;
  /* Сам прибавляет padding */
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* ------------- Шрифты ---------------------- */
@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../fonts/gteestiprodisplay_regular.eot");
  src: local("☺"), url("../fonts/gteestiprodisplay_regular.woff") format("woff"), url("../fonts/gteestiprodisplay_regular.ttf") format("truetype"), url("../fonts/gteestiprodisplay_regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GT Eesti Pro Display";
  src: url("../fonts/gteestiprodisplay_light.eot");
  src: local("☺"), url("../fonts/gteestiprodisplay_light.woff") format("woff"), url("../fonts/gteestiprodisplay_light.ttf") format("truetype"), url("../fonts/gteestiprodisplay_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
/* ----------------------------------- */
/* --------- My Styles ------------ */
.button {
  display: block;
  width: 240px;
  height: 60px;
  background: #446DF6;
  border-radius: 6px;
  font-size: 18px;
  line-height: 140%;
  color: #EEEEEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------- My Styles ------------ */
.header {
  margin-top: 25px;
  position: relative;
  z-index: 20;
}
.header__burger {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-basis: 540px;
}
.header-menu__list {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  list-style: none;
}
.header-menu__item {
  padding: 0 10px;
}
.header-menu__link {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #72727E;
  transition: 0.3s;
}
.header-menu__link:hover {
  color: #446DF6;
}

.header__button {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #446DF6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  border: 1px solid #E9ECF5;
  border-radius: 6px;
  box-sizing: border-box;
  transition: font-size 0.5s, border 0.5s;
}
.header__button:hover {
  border: 1px solid #446DF6;
  font-size: 17px;
}

.header__button2 {
  display: none;
  font-size: 16px;
  line-height: 140%;
  color: #446DF6;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  border: 1px solid #E9ECF5;
  border-radius: 6px;
}

.header-menu__whiteFon {
  display: none;
}

/* Adaptive */
@media (max-width: 992px) {
  .header {
    position: unset;
  }

  .header__burger {
    display: block;
    z-index: 15;
    position: absolute;
    top: 0;
    right: 0px;
    height: 47px;
    width: 55px;
    padding-left: 30px;
    padding-top: 35px;
    border-left: 1px solid #E9ECF5;
  }
  .header__burger span, .header__burger:after, .header__burger:before {
    position: absolute;
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #72727E;
    transition: 0.5s;
  }
  .header__burger:before {
    top: 35px;
  }
  .header__burger span {
    top: 42px;
  }
  .header__burger:after {
    top: 49px;
  }
  .header__burger_close:before {
    transform: rotate(-45deg);
    top: 42px;
  }
  .header__burger_close span {
    transform: rotate(45deg);
  }
  .header__burger_close:after {
    transform: rotate(45deg);
    top: 42px;
  }

  .header {
    margin-top: 0;
  }

  .header__container {
    flex-direction: column;
    padding: 0;
  }

  .header__logo {
    border-bottom: 1px solid #E9ECF5;
    width: 100%;
    padding: 30px;
    padding-left: 90px;
    z-index: 10;
  }

  .header-menu__list {
    flex-direction: column;
  }

  .header-menu {
    background: white;
    position: absolute;
    top: -140%;
    flex-basis: auto;
    width: 100%;
    transition: 0.5s;
    z-index: 9;
  }
  .header-menu__item {
    height: 90px;
    border-bottom: 1px solid #E9ECF5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__menu_phone {
    top: 84px;
  }

  .header__button {
    position: absolute;
    top: -200px;
    transition: 0.5s;
    background: #446DF6;
    color: #FFFFFF;
    z-index: 9;
  }
  .header__button_phone {
    top: 490px;
  }

  .header__button2 {
    display: flex;
    position: absolute;
    top: -200px;
    transition: 0.5s;
    z-index: 9;
    background: white;
  }
  .header__button2_phone {
    top: 560px;
  }

  .header-menu__whiteFon {
    display: block;
    height: 60vh;
  }
}
.main__container {
  display: flex;
}
.main__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 47%;
  box-sizing: border-box;
}
.main__right {
  flex: 0 1 53%;
  box-sizing: border-box;
  height: 600px;
}
.main__title {
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  color: #141B41;
}
.main__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #72727E;
  margin-top: 20px;
}
.main__arrow {
  display: inline-block;
  width: 100px;
  height: 3px;
  background: #446DF6;
  margin-bottom: 8px;
  position: relative;
}
.main__arrow:after, .main__arrow:before {
  position: absolute;
  right: -1px;
  display: block;
  content: "";
  width: 14px;
  height: 3px;
  background: #446DF6;
}
.main__arrow:after {
  top: -5px;
  transform: rotate(45deg);
}
.main__arrow:before {
  top: 5px;
  transform: rotate(-45deg);
}
.main__button {
  margin-top: 45px;
}

.main-image__front_phone {
  display: none;
}

.main-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-image img {
  position: absolute;
  top: -50px;
  left: -147px;
  width: 145%;
  object-fit: cover;
}

.main-image__back_phone {
  display: none;
}

@media (max-width: 992px) {
  .main__container {
    flex-direction: column;
  }
  .main__left {
    z-index: 5;
  }
  .main__right {
    flex: auto;
    height: auto;
  }
  .main__title {
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
  }
  .main__text {
    text-align: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .main__arrow {
    display: block;
    height: 25px;
    width: 3px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .main__arrow:before {
    top: 17px;
    right: -10px;
  }
  .main__arrow:after {
    top: 17px;
  }
  .main__button {
    margin: 0 auto;
    margin-top: 40px;
    width: 280px;
    height: 80px;
    font-size: 25px;
  }

  .main-image__back {
    display: none;
  }

  .main-image__back_phone {
    display: block;
    width: 1000px !important;
    left: -50px !important;
    top: -370px !important;
    opacity: 0.5;
    z-index: -1;
  }

  .main-image .main-image__front {
    width: 120% !important;
    position: unset;
    margin-left: -20%;
    margin-top: -50px;
  }
}
@media (max-width: 767px) {
  .main-image__front {
    display: none;
  }

  .main-image__front_phone {
    position: unset !important;
    display: block;
    width: 100vw !important;
    margin-left: -2.5vw !important;
    margin-top: 30px;
  }
}
.start {
  margin-top: 70px;
}
.start__container {
  display: flex;
}
.start__left {
  position: relative;
  flex: 0 0 45%;
  display: flex;
  align-items: center;
}
.start__left img {
  width: 128%;
  margin-left: -150px;
  margin-top: -60px;
  z-index: -1;
}
.start__right {
  flex: 0 0 55%;
}
.start__header {
  font-weight: 400;
  font-size: 40px;
  line-height: 110%;
  /* identical to box height, or 44px */
  /* #141B41 */
  color: #141B41;
}

.start-item {
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.start-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 20px;
  background: #F7F8FD;
  border-radius: 6px;
}
.start-item__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 135%;
  color: #141B41;
  margin-bottom: 6px;
}
.start-item__text {
  font-weight: 350;
  font-size: 18px;
  line-height: 135%;
  color: #72727E;
}

@media (max-width: 1100px) {
  .start__left img {
    margin-left: -80px;
  }
}
@media (max-width: 992px) {
  .start__container {
    flex-direction: column-reverse;
  }
  .start__right {
    text-align: center;
  }
  .start__left {
    display: block;
    overflow: hidden;
    margin-top: 30px;
  }
  .start__left img {
    width: 155%;
    margin-left: -29% !important;
  }

  .start-item {
    justify-content: center;
    flex-direction: column;
  }
  .start-item__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }
  .start-item__text {
    font-size: 20px;
  }
}
.cooperation {
  margin-top: 30px;
}
.cooperation__header {
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
  color: #141B41;
  text-align: center;
}
.cooperation__text {
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #72727E;
  padding: 0 160px;
  margin-top: 20px;
}
.cooperation__button {
  margin: 0 auto;
}

.coop-cards {
  display: flex;
  height: 200px;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.coop-cards__item {
  box-shadow: 0px 16px 20px rgba(20, 27, 65, 0.03);
  border-radius: 10px;
  padding: 0 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coop-cards__img {
  height: 60px;
  width: 60px;
  background: #F7F8FD;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coop-cards__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #141B41;
  margin-top: 24px;
}

@media (max-width: 992px) {
  .cooperation__text {
    padding: 0 20px;
  }

  .coop-cards {
    flex-direction: column;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
