.main {
  &__container {
    display: flex;
  }

  &__left {
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex: 0 0 47%;
    // border: 1px solid black;
    box-sizing: border-box;
  }

  &__right {
    flex: 0 1 53%;
    // border: 1px solid black;
    box-sizing: border-box;

    height: 600px;
  }

  &__title {
    font-weight: 400;
    font-size: 40px;
    line-height: 125%;

    color: #141B41;
  }

  &__text {
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;

    color: #72727E;
    margin-top: 20px;
  }

  &__arrow {
    display: inline-block;
    width: 100px;
    height: 3px;
    background: #446DF6;
    margin-bottom: 8px;
    position: relative;

    &:after, &:before {
      position: absolute;
      right: -1px;

      display: block;
      content: "";
      width: 14px;
      height: 3px;
      background: #446DF6;
    }

    &:after {
      top: -5px;
      transform: rotate(45deg);
    }

    &:before {
      top: 5px;
      transform: rotate(-45deg);
    }

  }

  &__button {
    margin-top: 45px;
  }
}

.main-image__front_phone {
  display: none;
}

.main-image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    top: -50px;
    left: -147px;
    width: 145%;
    //height: 100%;
    object-fit: cover;
  }
}

.main-image__back_phone {
  display: none;
}

@media (max-width: 992px) {
  .main {
    &__container {
      flex-direction: column;
    }

    &__left {
      z-index: 5;
    }

    &__right {
      flex: auto;
      height: auto;
    }

    &__title {
      text-align: center;
      font-size: 40px;
      margin-top: 35px;
    }

    &__text {
      text-align: center;
      font-size: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }

    &__arrow {
      display: block;
      height: 25px;
      width: 3px;
      margin: 0 auto;
      margin-top: 15px;

      &:before {
        top: 17px;
        right: -10px;
      }

      &:after {
        top: 17px;
      }
    }

    &__button {
      margin: 0 auto;
      margin-top: 40px;

      width: 280px;
      height: 80px;
      font-size: 25px;
    }
  }

  .main-image__back {
    display: none;
  }

  .main-image__back_phone {
    display: block;
    width: 1000px !important;
    left: -50px !important;
    top: -370px !important;
    opacity: 0.5;
    z-index: -1;
  }


  .main-image {
    .main-image__front {
      width: 120% !important;
      position: unset;
      margin-left: -20%;
      margin-top: -50px;
    }
  }
}

@media (max-width: 767px) {
  .main-image__front {
    display: none;
  }

  .main-image__front_phone {
    position: unset !important;
    display: block;
    width: 100vw !important;

    margin-left: -2.5vw !important;
    margin-top: 30px;
  }
}