.start {
  margin-top: 70px;

  &__container {
    display: flex;
  }

  &__left {
    position: relative;

    flex: 0 0 45%;
    display: flex;
    align-items: center;
    // border: 1px solid black;
    // height: 500px;

    img {
      // position: absolute;
      width: 128%;
      margin-left: -150px;
      margin-top: -60px;
      z-index: -1;
    }
  }

  &__right {
    flex: 0 0 55%;
    // border: 1px solid black;
    // height: 500px;
  }

  &__header {
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    /* identical to box height, or 44px */


    /* #141B41 */

    color: #141B41;
  }
}

.start-item {
  display: flex;
  margin-top: 60px;
  align-items: center;

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    margin: 0 20px;

    background: #F7F8FD;
    border-radius: 6px;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 135%;

    color: #141B41;

    margin-bottom: 6px;
  }

  &__text {
    font-weight: 350;
    font-size: 18px;
    line-height: 135%;

    color: #72727E;
  }
}

@media (max-width: 1100px) {
  .start {
    &__left {
      img {
        margin-left: -80px;
      }
    }
  }
}

@media (max-width: 992px) {
  .start {
    &__container {
      flex-direction: column-reverse;
    }

    &__right {
      text-align: center;
    }

    &__left {
      display: block;
      overflow: hidden;
      margin-top: 30px;

      img {
        width: 155%;
        margin-left: -29% !important;
      }
    }

  }

  .start-item {
    justify-content: center;
    flex-direction: column;

    &__icon {
      width: 80px;
      height: 80px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 20px;
    }
  }
}